* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #EEF9BF;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 872px;
  padding: 40px 15px;
}
.app .title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.004em;
  color: #75B79E;
  text-align: center;
}
@media (min-width: 614px) {
  .app .title {
    font-size: 56px;
  }
}
.app .cards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 50px auto 0 auto;
}
.app .cards .card {
  width: 120px;
  height: 150px;
  border-radius: 5px;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.app .cards .card img {
  width: 100%;
  object-fit: cover;
}